.header { font-size: 50px;
color: cadetblue;
margin-bottom: 10px;
font-weight: bold;
}

body {
    margin-left: 420px;
    margin-right: 420px;
    padding: 20px;  
    flex-wrap: wrap;   
}

.body {
background-color: #1f2937;
justify-content: space-between;
margin-bottom: 50px;
padding-left: 150px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;    
    align-items: center;
    justify-content:flex-start;
    align-items: flex-start;
   display: flex; 
   margin-left: 30px;
}

.links {
font-size: 18px;
color: #e5e7ebE5;
gap: 30px;
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: flex-end;
text-align: center;
padding-right: 150px;
}

.Hero-main-text {
font-size: 24px;
box-sizing:content-box;
width: 400px;
color: white;
align-items: flex-start;
border: 20px;
padding: 20px;
justify-content: space-between;
}

button {
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    text-align: center;
}

.image {
padding: 50px;
align-items: flex-end;
justify-content: flex-end;
display: flex;
box-sizing:border-box;
margin-right: 150px;
height: 90px;

flex-shrink: 0;
}

.third-section {
display: flex;
justify-content: center;
text-align:center;

padding: 10px;
}

.image-container {
width: 350px;
flex-wrap: wrap;



 
}

img {
    height: 450px;
    width: 450px;   
    box-sizing: content-box;

}

.image-text {
    width: 280px;
    height: 20px;
    display: flex;
    margin-left: 90px;
}

h2 {
text-align: center;
}

.fourth-section {
    background-color: #e5e7eb;
    margin-bottom: 36px;
    color: #1f2837;
    font-style: italic;
    display: flex;
    padding: 50px; 
    gap: 50px;
    border: 50px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 900px;
    height: 40px;
    font-size: 30px;
}

.speaker {
    display: flex;
    margin-left: 70px;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: flex-end;
    font-size: 30px;
    font-weight: bold;
}

.button {
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: #3882F6;
    display: flex;
gap: 40px;
    flex-direction: row;
    color: white;
    padding-left: 50px;
    font-size: 20px;
    
    
}
.button-text {
    
font-size: 30px;
margin-top: 20px;
text-align: left;
margin: 40px;
}


button {
    background-color: #3882F6;
    display: flex;
color: white;
justify-content: flex-start;
align-items: flex-start;
text-align: right;
margin-top: 40px;

}

.fifth-section {
    background-color: #1f2937;
    text-align: center;
    padding: 50px;
    flex-wrap: wrap;
}